@import 'media';
@import 'global';
@import 'vars';
@import 'fonts';



.header-top__inner{
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
}


.header-top__help{
    color: #546e7a;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 25px;
    margin-left: auto;
    a{
        color: #546e7a;
    }
    span{
        color: $orange;
    }
}

.header-top__user-notifications{
    margin-left: 26px;
    position: relative;
    a{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: rgb(245, 245, 245);
        position: absolute;
        right: 0px;
        top: -13px;
    }
}

.header-top__user-login{
    margin-left: 26px;
    a{
        font-size: 12px;
        border-radius: 4px;
        height: 32px;
        color: #fff;
        padding: 4px 10px;
        min-width: 72px;
        text-align: center;
        line-height: 24px;
    }
}

.user-login__btn{
    background-color: #8bc34a; 
}

.user-reg__btn{
    background-color: $orange;
    margin-left: 2px;
}

.user-cart{
    img{
        width: 14px;
        height: 14px;
        filter: invert(73%) sepia(11%) saturate(0%) hue-rotate(153deg) brightness(86%) contrast(93%);
        top: 27%;
        left: 27%;
        position: absolute;
    }
    span{
        color: #fff;
        position: absolute;
        background-color: $orange;
        padding: 0 4px;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        left: 23px;
        bottom: 23px;
    }
}

.header-bottom{
    background-color: #263238;
}

.header-bottom__inner{
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Roboto-Medium';
    font-weight: 500;
    font-size: 14px;
    li, a{
        color: #fff;
    }
    li + li {
        margin-left: 40px;
    }
}

.test-font{
    font-family: 'Roboto-Bold';
    font-weight: 700;
}

.search{
    min-height: 532px;
    background-size: cover;
    background-position: center;
}

.search__inner{
    color: #fff;
    font-family: 'Roboto-Medium';
    font-weight: 500;
    text-align: center;
    align-items: center;
    &-title{
        padding-top: 150px;
        padding-bottom: 30px;
        font-family: 'Roboto-Bold';
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 30px;
    }
    &-input{
        max-width: 670px;
        margin: 20px auto;
        position: relative;
        input{
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            max-width: 670px;
            width: 100%;
            height: 56px;
            border: 2px solid transparent;
            padding: 20px 60px 20px 25px;
            outline: none;
            &:focus{
                transition: all .1s ease-in-out;
                border: 2px solid rgb(82, 255, 48);
                box-shadow: inset 0 1px 1px rgb(0 0 0 / 1%), 0 0 8px rgb(34 139 230 / 50%);
            }
        }
        input::placeholder{
            font-size: 14px;
            line-height: 30px;
            color: #90a4ae;
        }
        button{
            position: absolute;
            top: 16px;
            right: 20px;
            background-color: transparent;
            width: 20px;
            height: 20px;
            outline: none;
            border: none;
            cursor: pointer;
            img{
                filter: invert(56%) sepia(7%) saturate(1033%) hue-rotate(155deg) brightness(97%) contrast(88%);
            }
        }
    }
}
  